.thanks{
  margin-top: 100px;
}
.tag-thanks{
  margin-top: 10px;
  align-items: center;
  text-align: center;
}
.front-end{
  margin-bottom: 20px;
}
.tag-role{
  margin-left: 15px;
}
.wrap-front-end{
  min-height: 100vh;

  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.wrap-entire{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.wave{
  margin-left: 100xp;
}
img{
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  border: 2px solid black;
}
.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:5px
}
.card{
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}
.card-text{
  text-align: center;
  font-weight: bold;
}
@media (max-width: 600px) {
  .tag-thanks{
    margin-top: 10px;
    text-align: center;
  }
  .tag-role{
    text-align: center;
  }
  .wrap-front-end{
    justify-content: center;
    align-items: center;
  }
  .wrap-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}